@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

//varibles 
$primaryColor: #261d52; 

$breakpoint-xs: 760px;
$breakpoint-md: 1024px;

//global styles 

* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    position: relative;
    &__background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;    
        z-index: -999;
        object-position: top;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    &__list {
        display: inline-flex;
        list-style: none;
    }
    &__item {
        font-size: 1em;
        color: #fff;
        transition: all ease-in-out .3s;
        cursor: pointer;
        text-transform: uppercase; 
        position: relative;
        &:not(:last-child) {
            padding-right: 40px;      
            &:after {
                content: "";
                position: absolute;
                height: 180%;
                width: 1px;
                top: -40%;
                right: 20px;
                background-color: #fff;                
            }      
        }
        &:hover {
            color: $primaryColor;
        }
    }
    &__logo {
        height: 50px;
    }
}